<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats - Kokoa Talk</title>
</head>
<body>
    <div class="status-bar">
        <div class="status-bar__column">
            <span>No service</span>
            <i class="fa-solid fa-wifi"></i>
        </div>
            
        <div class="status-bar__column">
            <span>18:43</span>
        </div>
            
        <div class="status-bar__column">
            <span>110%</span>
            <i class="fa-solid fa-battery-full fa-lg"></i>
            <i class="fa-solid fa-bolt"></i>
        </div>
    </div>
    
    <header class="screen-header">
        <h1 class="screen-header__title">Chats</h1>
        <div class="screen-header__icons">
            <span><i class="fa-solid fa-magnifying-glass fa-lg" onclick="toggleSearch(event)"></i></span>
            <span><i class="fas fa-comment-medical fa-lg" title="새로운 채팅"></i></span>
            <span><a href="/settings"><i class="fa-solid fa-gear fa-lg"></i></a></span>
        </div>
    </header>
    <input type="text" id="searchInput_chats" placeholder="친구 검색..." oninput="filterFriends()">
   

    <main class="main-screen">
        <% if (chatRooms.length > 0) { %>
        <% chatRooms.forEach(room => { %>
            <% const otherParticipant = room.participants.find(participant => participant.user_id !== currentUserId) || room.participants[0]; %>
        <a href="chat/<%= room.id %>" id="room-<%= room.id %>">
        <div id="chatsPart" class="user-component">
            <div class="user-component__column">
              <img
              src="<%= otherParticipant.profile_img_url ? otherParticipant.profile_img_url : '/images/basic_profile.jpg' %>"
                class="user-component__avatar user-component__avatar"
              />
              <div class="user-component__text">
                <h4 class="user-component__title"><%= room.room_name %></h4>
                <h6 class="user-component__subtitle"><%= room.last_chat %></h6>
              </div>
            </div>
            <div class="user-component__column">
                <span class="user-component__time"><%= room.updated_at %></span>
                <% if (room.unread_chat_count > 0) { %>
                <div class="unread_chat_count badge"><%= room.unread_chat_count %></div>
                <% }  else { %>
                    <div class="unread_chat_count badge" style="visibility: hidden;"></div>
                <% } %>
            </div>
          </div>
        </a>
        <% }); %>
        <% } else { %>
            <div class="no-chat-message">
                <p>채팅방이 없습니다. 새로운 채팅을 시작하세요.</p>
            </div>
        <% } %>
    </main>

    
  

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__btn">
                <a class="nav__link" href="/friends"><i class="fa-regular  fa-user fa-2x"></i></a>
            </li>
            <li class="nav__btn">
                <a class="nav__link" href="/chats"> 
                    <span class="nav_notification badge" style="<%= totalUnread > 0 ? '' : 'visibility: hidden;' %>"><%= totalUnread %></span>
                    <i class="fa-solid fa-comment fa-2x"></i></a>
            </li>
            <li class="nav__btn">
                <a class="nav__link" href="/find"><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
            </li>
            <li class="nav__btn">
                <a class="nav__link" href="/more"><span class="nav_dot"></span><i class="fa-solid fa-ellipsis fa-2x"></i></a>
            </li>
        </ul>
    </nav>
    
    <div id="no-mobile">
        <span>Your screen is too big</span>
    </div>

    <div id="newChatModal" >
        <div class="newChatModal-content">
         <span class="newChatModal_close ncm_close">&times;</span>
          <div class="newChatModal_header">
            <h4>대화 상대 선택</h4>
            <input type="text" id="searchUser" placeholder="이름 검색">
          </div>
          <section class="newChatModal_section">
            <h6>친구 <%= friends.totalFriends %></h6>
            <form class="newChatModal_form">
                <ul>
                    <% friends.friendsList.forEach(function(friend, index) { %>
                        <label>
                            <li>
                              <img src="<%= friend.profile_img_url ? friend.profile_img_url : '/images/basic_profile.jpg' %>" alt="profile Image">
                              <p><%= friend.friend_name %></p>
                              <input type="radio" name="friend" value="<%= friend.friend_id %>">
                            </li>
                            
                          </label>
                    <% }); %>
                </ul>
          
            </form>
          </section>
          <div class="newChatModal_bottom">
            <button id="confirmNewChat" class="newChatModal_button">확인</button>
            <button class="newChatModal_button ncm_close">취소</button>
          </div>
        </div>
      </div>
    
    <script src="https://kit.fontawesome.com/5fa4e79d0c.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chatsSocketio.js"></script>
    <script src="/js/chatsModal.js"></script>
</body>
</html>