<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat w / Nico - Kokoa Talk</title>
</head>
<body id="chat-screen" data-user-id="<%= userId %>" data-room-id="<%= roomId %>">
    <div class="status-bar">
        <div class="status-bar__column">
            <span>No service</span>
            <i class="fa-solid fa-wifi"></i>
        </div>
            
        <div class="status-bar__column">
            <span>18:43</span>
        </div>
            
        <div class="status-bar__column">
            <span>110%</span>
            <i class="fa-solid fa-battery-full fa-lg"></i>
            <i class="fa-solid fa-bolt"></i>
        </div>
    </div>
    

    <header class="alt-header">
        <div class="alt-header__column">
            <a href="/chats">
            <i class="fa-solid fa-angle-left fa-2x"></i>
            </a>
        </div>
        <div class="alt-header__column">
            <h1 class="alt-header__title"><%= roomName %></h1>
        </div>
        <div class="alt-header__column">
            <span class="search-icon"><i class="fa-solid fa-magnifying-glass fa-lg"></i></span>
            <span><i class="fa-solid fa-bars fa-lg"></i></span> 
            <div class="alt-header__column_option_choice">
                <p class="delete_chat">채팅방나가기</p>
            </div>
        </div>
    </header>
    <div id="search-container" style="display:none">
        <div class="search-inner">
        <input type="text" id="searchInput_chat" placeholder="채팅 검색..." onkeyup="searchChat(event)">
        <div id="search-buttons" style="display: none;">
            <button onclick="previousResult()">▲ </button>
            <button onclick="nextResult()">▼</button>
        </div>
        <button onclick="clearSearch()" class="clear-search">X</button>
    </div>
    </div>
    <main class="main-screen main-chat">
        <% let lastDate = null; %>
        <% messages.forEach(message => { %>
            <% if (lastDate !== message.date) { %>
                <div class="chat__timestamp">
                    <%= message.date %>
                </div>
                <% lastDate = message.date; %>
            <% } %>
        <div class="<%= message.senderId === currentUserId ? 'message-row--own' : 'message-row' %>" data-message-id="<%= message.messageId %>">
            <% if (message.senderId != currentUserId) { %>
                
                <img id="chat-image" src="<%= message.sender.profileImgUrl ?  message.sender.profileImgUrl : '/images/basic_profile.jpg' %>"alt="">
                <div class="message-row__content">
                    <span class="message__author"><%= message.sender.name ? message.sender.name : message.senderName %></span>
            <% } else { %>
                <div class="message-row__content">
            <% } %>
                <div class="message__info">
                    <span class="message__bubble"><%= message.text %></span>
                    <span class="message__time"><%= message.time %></span>
                    <% if (unreadCount > 0) { %>
                    <span class="unread-count-<%= message.messageId %>"><%= unreadCount %></span>
                    <% } %>
                </div>
            </div>
        </div>
        <% }); %>
        <!-- <div class="message-row message-row--own">
            <div class="message-row__content">
                <div class="message__info">
                    <span class="message__bubble"> Hi nice to meet you!</span>
                    <span class="message__time">21:27</span>
                </div>
            </div>
        </div> -->
      </main>

      <form class="reply" id="message-form">
        <div class="reply__column">
            <i class="fa-regular fa-square-plus fa-lg"></i>
        </div>
        <div class="reply__column">
            <input id="message-input" type="text" placeholder="Write a message..."/ >
            <i class="fa-regular fa-face-smile fa-lg"></i>
            <button type="submit">
                <i class="fa-solid fa-arrow-up"></i>
            </button>
        </div>
      </form>
    
      <div id="no-mobile">
        <span>Your screen is too big</span>
    </div>
    
    <script src="https://kit.fontawesome.com/5fa4e79d0c.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socketio.js"></script>
    
</body>
</html>